<nav>
  <a href="{{ '/' | relative_url }}"> Home |</a>
  <a href="{{ '/publications.html' | relative_url }}">Publication |</a>
  <a href="{{ '/member.html' | relative_url }}">Member |</a>
  <a href="{{ '/teaching.html' | relative_url }}">Teaching |</a>
  <a href="{{ '/labnews.html' | relative_url }}">Lab News |</a>
  <a href="{{ '/outreach.html' | relative_url }}">Outreach |</a>
  <a href="{{ '/opportunity.html' | relative_url }}">Opportunity |</a>
  <a href="{{ '/contact.html' | relative_url }}">Contact</a>
</nav>